body {
    background-color: lightgrey;
}
* {
    font-family: monospace
}

.container{
    width: 100%;
    margin: auto;
}

.column {
    float:left;
    border-radius: 4px;
    box-shadow: 1px 1px 10px gray;
    margin-left: 50px;
    margin-top: 60px;
    width: 480px;
    height: 252px;
    background-color: white;
}
.first {
    padding: 18px;
    border-bottom: 1px solid lightgray;
}
.input {
    width: 75%;
    height: 26px;
    font-size: 15px;
}
.addbutton {
    background-color: midnightblue;
    border-color: midnightblue;
    color: white;
    width: 100px;
    height: 32px;
    margin-left: -8px;
    font-size: 15px;
}
.segment {
    padding: 30px;
    border-bottom: 1px solid lightgray;
}
.center {
    background: white;
    width: 100%;
    margin: auto;
}

.name{
    margin-top: -10px;
    width: 33%;
    float: left;
    font-size: 15px;
}

.quantity {
    text-align: center;
    float: right;
    margin-top: -12px;
    margin-right: 97px;
    width: 30px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: whitesmoke;
}

.boughtbutton {
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 6px;
    box-shadow: 0px 1px 1px lightgray;
    width: 75px;
    height: 37px;
    height: 37px;
    margin-top: -20px;
    margin-right: 23px;
    float: right;
    font-size: 12px;
}
.plusbutton {
    float: right;
    font-size: 20px;
    margin-top: -17px;
    margin-left: 95px;
    position: absolute;
    padding-bottom: 28px;
    text-align: center;
    background-color: rgb(0, 230, 0);
    border-radius: 50%;
    border-color: rgb(0, 230, 0);
    color: white;
    width: 34px;
    height: 34px;
    font-stretch: ultra-condensed;
}

.minusbutton {
    font-size: 20px;
    margin-top: -17px;
    margin-left: 12px;
    position: absolute;
    padding-bottom: 28px;
    text-align: center;
    background-color: rgba(285, 10, 0, 0.6);
    border-radius: 50%;
    border-color: rgba(285, 10, 0, 0.1);
    color: white;
    width: 34px;
    height: 34px;
    font-stretch: ultra-condensed;
}

.cancelbutton {
    float: right;
    margin-top: -18px;
    margin-left: 270px;
    font-size: 20px;
    position: absolute;
    padding-bottom: 28px;
    text-align: center;
    background-color: rgb(285, 10, 0);
    border-radius: 6px;
    border-color: red;
    color: white;
    width: 34px;
    height: 34px;
    font-stretch: ultra-condensed;
}

.column2 {
    float: left;
    border-radius: 4px;
    box-shadow: 1px 1px 10px gray;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 60px;
    width: 400px;
    height: 234px;
    background-color: white;
}

.headline{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.text{
    color:black;
    font-size: 30px;
}

.quantity2{
    margin-top: -6px;
    float:right;
    text-align:center;
    border-radius: 50%;
    color: darkblue;
    background-color: paleturquoise;
    font-size: 18px;
    width: 25px;
    height: 25px;
}

.item{
    height:20px;
    float: left;
    min-width: 90px;
    text-align:left;
    padding-top: 10px;
    margin-left: -15px;
    margin-right: 25px;
    margin-top: -20px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 6px;
    box-shadow: 0px 1px 1px lightgray;
    float: left;
    font-size: 12px;
}


